@font-face {
    font-family: Synapsian;
    src: url(synapsian/synapsian.ttf);
}

@font-face {
    font-family: Makinas;
    src: url(fonts/m.otf);
}

@font-face {
    font-family: "04b03";
    src: url(fonts/paragraph.ttf);
}

#wrapper {
    margin: 25px;
    padding: 18px;
    background-color: #231c14d6;
    border: 2px;
    border-radius: 7px;
    line-height: 1.6;
    font-size: 14px;
    color: #eee;
    text-align: center;
    animation-name: foregroundswipefrombottom;
    animation-timing-function: ease-in-out;
    animation-duration: 2.25s;
    animation-iteration-count: 1;

}

.syn {
    font-size: 3em;
    font-family: Synapsian;
}

body {
    background-color: #3c2c0f;
    padding: 0 10px;
    background-blend-mode: hard-light;
    background-image: url(style/dots.png);



}

img {
    max-width: 400px;
}

p {
    font-family: "04b03";
    font-size: 16px;
}

a:link {
    color: #dbc086;
}

a:visited {
    color: #d28080;
}

h1,
h2,
h3 {
    line-height: 1.2;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
}

h1 {
    font-family: 'Makinas';
}

.nonsynapsian {
    font-family: initial;
}
